@import url("pygment.css");

body {
    font-size: 18px;
    line-height: 26px;
    font-family: 'Droid Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-family: 'Droid Serif',serif;
    font-weight: 400;
}

header h1 {
    line-height: 1.4em;
}

h2.small {
    font-size: 1.3em;
    line-height: 1.4em;
    margin-bottom: 0;
}

h2.space-above {
    margin-top:1em;
}

li {
    line-height: 24px;
}

cite, tt.literal {
    background: #eeeeee;
    font-family: 'Droid Sans Mono', Monaco, Menlo, Consolas, 'Courier New', monospace;
}

/* Nav */
.nav {
        background-color: green;
        width: 300px;
}

.active a {
        color: #0088cc;
}

nav ul {
        list-style: none;
        padding: 0px;
        margin: 30px 0 0 0;
        font-family: 'Droid Serif', serif;
}

nav li {
        padding: 0px;
        margin: 0 0 10px 0;
}

#profileimg {
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        margin-right: 10px;
        width: 100px;
        height: 100px;
}

.blogtitle {
        font-size: 18px;
}

/* Pagination */
div.pagination {
    margin-top: 35px;
}
div.pagination-left {
    float:left;
}
div.pagination-middle {
    text-align:center;
}
div.pagination-right {
    float: right;
}

/* Footer */
footer {
        margin:100px 0px 20px 0px;
}
footer p{
        color:#B2B2CA;
        font:italic 12px/12px 'Droid Serif', serif;
}

/* Blog */
p a {
        color:#0088cc;
}
p a:hover {
        text-decoration: underline;
}

div.article-content h2 {
    font-size: 1.7em;
    margin-top: 1em;
}

div.article-content li {
    margin-top: 0.5em;
}

.postdate {
    margin-top: 1em;
    font-style: italic;
    color: #B2B2CA;
    font-family: 'Droid Serif', serif;
}
.archivesyears article {
        margin: 0 0 27px 0;
}
.comments {
        margin-top:40px;
}
.comments-post img {
        float: left;
        padding: 0 10px 10px 0;
}
.comments-post {
        display: block;
}
.readmore {
        font-family: 'Droid Serif', serif;
}

/* About */

aside ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
}
aside li {
        padding: 0px;
        margin: 0 0 10px 0;
}

/* Code */
div.highlight pre {
  background: #272822; /* override bootstrap styling */
  color: #f8f8f2; /* override bootstrap styling */
}

/* Media Queries */

@media (min-width: 980px){
}

@media (max-width: 979px) and (min-width: 768px)
{
    #profileimg {
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        margin-right: 10px;
        width: 48px;
        height: 48px;
    }
}

@media (max-width: 767px)
{
    nav li {
        display: inline;
        margin: 0 15px 20px 0;
    }
    nav {
        margin: 30px 0 30px 0;
    }
    div.fake{ 
        right: 0;
        left: 0;
        position: absolute;
        top: 0;
        height: 130px;
        width: 100%; 
        background: #f6f6f6;
        z-index: -1;
    }
    #profileimg {
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        margin-right: 10px;
        width: 48px;
        height: 48px;
    }
}

@media screen and (min-width:1350px)
{
    div.fake {
        width:33%;
    }
}

@media screen and (min-width:1700px)
{
    div.fake {
        width:40.25%;
    }
}

@media screen and (min-width:2000px)
{
    div.fake {
        width:42.85%;
    }
}
