{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} // {{ super() }}{% endblock title %}

{% block meta_description %}{{ article.summary|striptags }}{% endblock meta_description %}

{% block content %}
    <section class="span7 offset1 content">
        <article class="blogpost">
            <header>
                <h1>{{ article.title }}</h1>
                <p class="postdate" title="{{ article.date.isoformat() }}">- Posted {{ article.locale_date }}</p>
            </header>
            <div class='article-content'>
                {{ article.content }}
            </div>
        </article>

        <hr />

        <p class="article-meta">
            &ndash;
            Posted in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
            {% if article.tags %}
                with
                {% if article.tags|length > 1 %}tags{% else %}tag{% endif %}
                {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            {% endif %}

            {% if SHOW_SCM_LINKS and SCM_BASE_URL and article.scm_path %}
                <br>
                &ndash; <a href='{{ SCM_BASE_URL }}{{ article.scm_path }}'>{% if SCM_LINK_TEXT %}{{ SCM_LINK_TEXT }}{% else %}Article source{% endif %}</a>
            {% endif %}
            {% if article.related_posts %}
                <br>
                &ndash; Further reading:
                <ul>
                {% for related_post in article.related_posts %}
                    <li>
                        <a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a>
                        {{ related_post.summary }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </p>

        <hr />


        {% if DISQUS_SITENAME %}
            <div id="comments">
                <h2 class="space-above">Comments</h2>
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    var disqus_identifier = "{{ article.url }}";
                    (function() {
                        var dsq = document.createElement('script');
                        dsq.type = 'text/javascript';
                        dsq.async = true;
                        dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view <a href="http://disqus.com/?ref_noscript">comments</a>.</noscript>
            </div>
        {% endif %} 
    </section>
{% endblock content %}
