<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="James Cooke back-end developer experienced in PHP and Python.">
        <meta name="author" content="@Jamesfublo and @PaulRichardson">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/droidstrap.css">
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>


        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

        {% if FEED_RSS %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}

        {% block head %}
        <title>{% block title %}{{ SITENAME }} // {{ TAGLINE }}{% endblock title %}</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width">
        {% endblock head %}
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="fake"> </div>
        <div class="container">
            <div class="row">
                <header class="span3">
                    <h1 class="blogtitle">
                        <a href="{{ SITEURL }}"><img id="profileimg" src="http://userserve-ak.last.fm/serve/126/5888928.jpg" alt="{{ SITENAME }}" ></a>{{ SITENAME }}
                    </h1>
                    <nav>
                        <ul>
                            {% for title, link in MENUITEMS %}
                                <li><a href="{{ link }}">{{ title }}</a></li>
                            {% endfor %}
                            {% if DISPLAY_PAGES_ON_MENU %}
                                {% for p in PAGES %}
                                    <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                                {% endfor %}
                            {% else %}
                                {% if DISPLAY_CATEGORIES_ON_MENU %}
                                    {% for cat, null in categories %}
                                        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        </ul>
                    </nav>
                </header>

                {% block content %}
                {% endblock %}

            </div>
            <div class="row">
                <footer class="offset4 span7">
                    <p>&copy; {{ SITENAME }} &ndash;
                        Built with <a href="https://github.com/jamescooke/droidstrap">Droidstrap theme</a>
                        for <a href="http://blog.getpelican.com/">Pelican</a>
                    </p>
                    <p>Licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_GB">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</p>
                </footer>
        </div>

        {% include 'analytics.html' %}
    </body>
</html>
