<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="author" content="@Jamesfublo and @PaulRichardson">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/droidstrap.css">
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

        {% if FEED_RSS %}
            <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}

        {% block head %}
            <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width">
        {% endblock head %}
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
            <div class="row">
                <header class="span3">
                    <h1 class="blogtitle"><small>
                        <a href="{{ SITEURL }}">{{ SITENAME }}</a>
                        {{ TAGLINE }}</small>
                    </h1>
                    <nav>
                        <ul>
                            {% for title, link in MENUITEMS %}
                                <li><a href="{{ link }}">{{ title }}</a></li>
                            {% endfor %}
                            {% if DISPLAY_PAGES_ON_MENU %}
                                {% for p in PAGES %}
                                        <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                                {% endfor %}
                            {% else %}
                                {% for cat, null in categories %}
                                        <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </nav>
                </header>

        {% block content %}
        {% endblock %}

        {% include 'analytics.html' %}
    </body>
</html>
