{% extends "base.html" %}

{% block content %}
    <section class="span7 offset1">

        {% for article in articles_page.object_list %}
            <div class="row">
                <div class="span1">
                    <p class="postdate">{{ article.locale_date }}</p>
                </div>
                <div class="span4">
                    <h2 class="small">
                        <a href="{{ SITEURL }}/{{ article.url }}" rel='bookmark'>{{ article.title }}</a>
                    </h2>
                    <div class="article-excerpt"> {{ article.summary }} </div>
                </div>
            </div>
        {% endfor %}

        {% include 'pagination.html' %}
    </section>

{% endblock content %}
