{% extends "base.html" %}

{% block content %}
    <section class="span7 offset1">

        {% for article in articles_page.object_list %}
            <h2 class="space-above">
                <a href="{{ SITEURL }}/{{ article.url }}" rel='bookmark'>{{ article.title }}</a>
            </h2>
            <p class="postdate">- Posted {{ article.locale_date }}</p>
            <div class="article-excerpt"> {{ article.summary }} </div>
            <p class="readmore"><a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.date.isoformat() }}">- Read more</a></p>
        {% endfor %}

        {% include 'pagination.html' %}
    </section>

{% endblock content %}
